<div mat-dialog-content>
  <p>Choose a date to update record</p>
  <mat-form-field appearance="fill">
    <mat-label>Pick a date</mat-label>
    <mat-select (selectionChange)="onSelect($event.value)" >
      <mat-option *ngFor="let availableDate of availableDates" [value]="availableDate" >
        {{availableDate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.selectedDate" cdkFocusInitial type="submit" (click)="onSubmit()" [disabled]="selectedDate?.length==0">Done</button>
</div>
